* {
    padding: 0;
    margin: 10px;
    background-color: antiquewhite;
}

.header {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

section {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.quote {
    padding: 10px;
    margin: 10px;
}

img  {
    height: 500px;
}

li {
    list-style: none;
}

p {
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

input {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}